@media (max-width:768px){
    .navigation{
        display: none;
    }
    .burger-bar{
        display: block;

    }
}

@media (max-width: 11024px) {
    .container{
        justify-content: center;
    }
    .right-block{
        margin-top: 70px;
    }
}

@media (max-width: 687px) {
    .container{
        width: 100%;
    }
    .left-block{
        width: 80%;
    }
    .right-block{
        width: 100%;
    }
    .image1{
        width: 49%;
    }
    .image2{
        width: 49%;
    }
    .image3{
        width: 50%;
    }
}
