/* header */
.bg-image-header{
    background-image: url('../images/image1.jpg');
    height:324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;  
    
}
.bg-image-header::before{
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    display: block;
    opacity: 60%;
}

.navigation-flex{
    display: flex;
    justify-content:space-between ;
    width: 1089px;
    position: absolute;
    /* left: 50%;
    transform: translatex(-50%);
    top:30px;  
     */
     margin-left: 139px;
     top:30px;
    
}
     

a {
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 600; 
     
    
}
.zetta{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
}
.nav-ul {
    display: flex;
    font-size: 12px;

}
.home{
    color: #5863F8;
    margin-right: 51px;
}
.restaurant{
    margin-left: 64px;
    margin-right: 52px;
}
.blog{
    margin-left: 52px;
    margin-right: 54px ;
}
.aboutus{
    width: 173px;
    position:absolute;
    top: 145px;
    margin-left: 139px;
    
}
.h2{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 18px;
}
.div-about p{
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    display: inline;

    
}
.p-home::after{
    content: ' ';
    width: 2px;
    height: 19px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-left: 18px;
    margin-right: 16.5px;
    vertical-align: middle;
    
}
/* section1 */

.container{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    align-items: center;

}

.left-block{
    width: 444px;
    
}
.left-block h2{
    color: #5863F8;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;


}
.text{
    
    font-size: 40px;
    line-height: 56px;
    font-family: 'Poppins';
    margin-bottom: 20px;
    
    
}
.lorem{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    height: 88px;
    line-height: 21px;

}
.lorem2{
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;

}

.blu-box{
    width: 184px;
    height: 50px;
    background-color: #5863F8;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

  .blu-box p{
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: normal;

  }
   
.arrow{
    color: #ffffff;
    margin-left: 20px;
}

/* rigt-block */
.right-block{
    width: 536px;
    margin-left: 108px;

    
}
.top-image{
    display: flex;
    justify-content:space-between ;
    margin-bottom: 16px;

}
/* section2 */
/* top part */
.container2{
    margin-top: 90px;

    
}
.bg-image-section{
    background-image: url('../images/group.jpg');
    height: 612px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */

}
.text-section2{
    padding-top: 92px;
    margin-left: 139px;
    margin-bottom: 38px;
    width: 332px;
    
}
.text-section2 h2{
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
    line-height: 19px;
}
.text-section2 p {
    color: #FFFFFF;
    font-size: 42px;
    font-family: 'Poppins';
    font-weight: 900;
    line-height: 56px;
    

}
.wraper{
    display: flex;
    justify-content: center;
      

}
.block{
    width: 260px;
    height: 260px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block:nth-child(2){
    margin-left: 16px;
    margin-right: 16px;
}
.block:nth-child(4){
    margin-left: 16px;
}
.blu-div{
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block h2{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    width: 142px;
    text-align: center;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 27px;
}
.block p{
    color: #B1B1B1;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    width: 221px;
    text-align: center;
    line-height: 19px;
    height: 62px;

}
/* botton part */

.container3{
    background-color: #F8F8F8;
    width: 1366px;
    display: flex;
    justify-content: right;
    align-items: center;
 
}

.left-block-2{
    width: 432px;

}
.block2-h2 {
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;

}
.trust{
    font-size: 34px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 56px;

}
.left-block2-flex{
    display: flex;
    margin-top: 34px;
    margin-bottom:20px;
}
.left-block2-flex span{
    margin-left: 19px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;

}
.review{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;

}
.right-block-2{
    margin-left: 212px;
}